# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Large binary files
amazon-cloudwatch-agent.deb
libclang.so
libnccl.so.2
libtensorflow_framework.so.2
libxgboost.so
libtensorflow_cc.so.2

